{{define "base"}}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">

    <title>My Nice Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.theme.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/css/datepicker-bs4.min.css">
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/main.css">

    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora:700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
    <div class="preloader">

        <div class="sk-spinner sk-spinner-pulse"></div>

    </div>


    <div class="navbar navbar-expand-lg navbar-default navbar-fixed-top " role="navigation">
        <div class="container">

            <div class="navbar-header">
                <button class="navbar-fixed-top" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                        <span class="icon icon-bar"></span>
                    </button>
                <a href="#" class="navbar-brand">Hotel</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right main-navigation">
                    <li><a href="/" class="smoothScroll">Home</a></li>
                    <li><a href="/about" class="smoothScroll">About</a></li>
                    <li><a href="/search-availability" class="smoothScroll">Book
                                Now</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Rooms
                            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/generals-quarters">General's
                                    Quarters</a>
                            <a class="dropdown  -item" href="/majors-suite">Major's
                                    Suite</a>
                        </div>
                    </li>
                    <li><a href="/" class="smoothScroll">Contact</a></li>
                </ul>
            </div>

        </div>
    </div>
    {{block "content" .}} {{end}}

    <footer>
        <div class="container-fluid">
            <div class="row">

                <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.4s">
                    <h2>About Our Hotel</h2>
                    <p> 5-star sleeping experience at 1-star price</p>
                </div>

                <div class="wow fadeInUp col-md-5 col-sm-4" data-wow-delay="0.9s">
                    <h2>Type of rooms</h2>
                    <div>
                        <h5>Generl's suite</h5>
                        <h4>AC,lunch,dinner</h4>
                    </div>
                    <div>
                        <h5>Generl's suite</h5>
                        <h4>Gym,Breakfast,lunch,dinner everything you want!</h4>
                    </div>
                </div>

                <div class="wow fadeInUp col-md-3 col-sm-8" data-wow-delay="1s">
                    <h2>Follow us</h2>
                    <ul class="social-icon">
                        <li>
                            <a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="1s"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-instagram wow fadeIn" data-wow-delay="1s"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="1.6s"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-behance wow fadeInUp" data-wow-delay="1.9s"></a>
                        </li>
                        <li>
                            <a href="#" class="fa fa-google-plus wow fadeIn" data-wow-delay="2s"></a>
                        </li>
                    </ul>
                </div>

                <div class="clearfix"></div>

                <div class="col-md-12 col-sm-12">
                    <p class="copyright-text">Copyright &copy; 2023 Hotel Booking| Design: <a rel="nofollow" href="http://www.templatemo.com/page/1" target="_parent">Book now</a></p>
                </div>

            </div>
        </div>
    </footer>

    <!-- script -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.1.2/dist/js/datepicker-full.min.js"></script>
    <script src="https://unpkg.com/notie"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.15.5/dist/sweetalert2.min.js"></script>

    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.parallax.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/jquery.backstretch.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/custom.js"></script>
    {{block "js" .}} {{end}}
    <script>
        let attention = prompt();
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                let forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        const elem = document.getElementById('reservation-dates');
        const rangePicker = new DateRangePicker(elem, {
            format: "yyyy-mm-dd",
        });


        // document.getElementById("btnclickme").addEventListener("click", function() {
        //     let l = document.getElementById("text")
        //     if (l.classList.contains("redText")) {
        //         l.classList.remove("redText")
        //     } else {
        //         l.classList.add("redText")
        //     }
        // attention.toast({
        //     msg: 'hello world',
        // });
        // notify("Hello!", "warning")

        document.getElementById("btnclickme").addEventListener("click", function() {
            let html = `
        <form id="check-availability-form" action="" method="post" novalidate class="needs-validation">
            <div class="form-row">
                <div class="col">
                    <div class="form-row" id="reservation-dates-modal">
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="start" id="start" placeholder="Arrival">
                        </div>
                        <div class="col">
                            <input disabled required class="form-control" type="text" name="end" id="end" placeholder="Departure">
                        </div>

                    </div>
                </div>
            </div>
        </form>
        `;
            attention.custom({
                title: 'Choose your dates',
                msg: html,
            });
        })

        function notify(msg, msgType) {
            notie.alert({
                type: msgType,
                text: msg,
            })
        }

        function prompt() {
            let toast = function(c) {
                const {
                    msg = '',
                        icon = 'success',
                        position = 'top-end',

                } = c;

                const Toast = Swal.mixin({
                    toast: true,
                    title: msg,
                    position: position,
                    icon: icon,
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.addEventListener('mouseenter', Swal.stopTimer)
                        toast.addEventListener('mouseleave', Swal.resumeTimer)
                    }
                })

                Toast.fire({})
            }

            let success = function(c) {
                const {
                    msg = "",
                        title = "",
                        footer = "",
                } = c

                Swal.fire({
                    icon: 'success',
                    title: title,
                    text: msg,
                    footer: footer,
                })

            }
            let error = function(c) {
                const {
                    msg = "",
                        title = "",
                        footer = "",
                } = c

                Swal.fire({
                    icon: 'error',
                    title: title,
                    text: msg,
                    footer: footer,
                })

            }
            async function custom(c) {
                const {
                    msg = "",
                        title = "",
                } = c;

                const {
                    value: formValues
                } = await Swal.fire({
                    title: title,
                    html: msg,
                    backdrop: false,
                    focusConfirm: false,
                    showCancelbutton: true,
                    willOpen: () => {
                        const elem = document.getElementById("reservation-dates-modal");
                        const rp = new DateRangePicker(elem, {
                            format: 'yyyy-mm-dd',
                            showOnFocus: true,
                        })
                    },
                    didOpen: () => {
                        document.getElementById("start").removeAttribute("disabled");
                        document.getElementById("end").removeAttribute("disabled");
                    },
                    preConfirm: () => {
                        return [
                            document.getElementById('start').value,
                            document.getElementById('end').value
                        ]
                    }
                })

                if (formValues) {
                    Swal.fire(JSON.stringify(formValues))
                }
            }
            return {
                toast: toast,
                success: success,
                error: error,
                custom: custom,
            }
        }
    </script>

</body>

</html>
{{end}}